# AOM Paper Matching

This is part of my effort in creating a dataset for studying the process of knowledge creation via scientists' collaboration, particularly the antecedents of collaboration performance. 

In order to measure collaboration performance, we start with using papers presented at the 2001-2014 Academy of Management (AOM) conferences. Because the key purpose of the conferences is for scientists to share their research ideas and on-going projects, the bar for paper acceptance at the AOM conferences is relatively lower than that at related top-tier journals. Therefore, I use AOM conference papers to capture scientists' collaboration and journal papers to capture successful collaboration. 

To identify successful collaboration, I am required to match AOM conference papers to journal papers. Matched AOM conference papers indicate successful collaborations. Unmatched AOM conference papers indicate unsuccesful collaborations.

In [ ]:
import os
import re
import sys
import csv
import pyprind
import threading

import numpy as np
import pandas as pd
import py_entitymatching as em

In [ ]:
# confirm Python & libraries version
print("python version: " + sys.version)
print("pandas version: " + pd.__version__)
print("magellan version: " + em.__version__)

python version: 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
pandas version: 1.1.5
magellan version: 0.4.0

## 1 - DATASET DESCRIPTION

2 datasets that we're using for matching

data is located at:

In [ ]:
path_to_csv_dir = '/content/drive/MyDrive/colab_notebooks/paper_matching/data'

### 1.A. AOM-conference-paper dataset
AOM-conference-paper dataset consists of the following information:
1. Conference paper ID 
2. Year of conference
3. Paper abstract 
4. Author list (last name, first name)
5. Author list (first name, last name)
6. First author's first name
7. First author's last name

Below is a snippet of the dataset

In [ ]:
CONF_INDEX = 'id'
CONF = ['id', 'year', 'bow', 'authors', 'authors_first_last', 'first_author_first', 'first_author_last']
CONF = em.read_csv_metadata(f"{path_to_csv_dir}/conferences_final_210607.csv", key=CONF_INDEX)
CONF.head()

Metadata file is not present in the given path; proceeding to read the csv file.

            id  year  ... first_author_first first_author_last
0  2001_1001_1  2001  ...             Sendil           Ethiraj
1  2001_1001_2  2001  ...             Joseph            Coombs
2  2001_1001_3  2001  ...           Kwanghui               Lim
3  2001_1001_4  2001  ...             Deepak            Somaya
4  2001_1001_5  2001  ...           Srikanth         Paruchuri

[5 rows x 7 columns]

In the AOM conference-paper dataset, there are 37,587 rows (i.e. conference papers)

In [ ]:
CONF.shape[0]

37587

Below is the number of conference papers by conference year

In [ ]:
CONF.year.value_counts().sort_index()

2001    1129
2002    1427
2003    1950
2004    1982
2005    2477
2006    2895
2007    3285
2008    3514
2009    3358
2010    3159
2011    2869
2012    3374
2013    2882
2014    3286
Name: year, dtype: int64

### 1.B. Journal-paper dataset
Journal-paper dataset consists of the following information:
1. Publication ID 
2. Publication year
3. Publication abstract 
4. Author list (last name, first name)
5. Author list (first name, last name)

Below is a snippet of the dataset:

In [ ]:
JOUR_INDEX = 'id'
JOUR = ['id', 'year', 'bow', 'authors', 'authors_first_last']
JOUR = em.read_csv_metadata(f"{path_to_csv_dir}/journals_final_210607.csv", key=JOUR_INDEX)
JOUR.head()

Metadata file is not present in the given path; proceeding to read the csv file.

   id  ...                                        authors_first_last
0   1  ...  Frank Mueller|John Sillince|Charles Harvey|Chris Howorth
1   2  ...                                               Andrew Popp
2   3  ...                        Thomas Thornborrow|Andrew D. Brown
3   4  ...      Robert Caruana|Michal Carrington|Andreas Chatzidakis
4   5  ...                          Marcus T. Wolfe|Dean A. Shepherd

[5 rows x 5 columns]

In the journal-paper dataset, there are 38,700 rows (i.e., journal papers)

In [ ]:
JOUR.shape[0]

38700

Below is the number of journal papers by year (from 2000)

In [ ]:
JOUR[JOUR.year>=2000].year.value_counts().sort_index()

2000     794
2001     751
2002     768
2003     797
2004     865
2005     903
2006     911
2007     976
2008    1035
2009    1210
2010    1106
2011    1040
2012     960
2013    1146
2014    1074
2015    1204
2016    1150
2017    1257
2018    1461
2019    1532
2020     439
Name: year, dtype: int64

## 2 - ENTITY MATCHING MODEL

Here we build our entity matching model 

A) Create new features for matching

B) Import a golden dataset

C) Train the entity matching models

D) Evaluate performance

### 2.A. Creation of New Features

In [ ]:
# import similarity measures
from py_stringmatching.similarity_measure.affine import Affine
from py_stringmatching.similarity_measure.tfidf import TfIdf

#### 2.A.1. Similarity of full authors list (using authors' names)

In [ ]:
def author_sim_affine(text1, text2):
    # default: (gap_start) gs = 1; (gap_continuation) gc = 0.5
    aff = Affine(gap_start=2, gap_continuation=0.5)
    js = text1.split('|')
    cs = text2.split('|')
    if len(js) < len(cs):
        denominator = len(js)
        left_set = js
        right_set = cs
    else:
        denominator = len(cs)
        left_set = cs
        right_set = js
    numerator = 0
    for i in left_set:
        score_max = -1
        for j in right_set:
            if score_max < aff.get_raw_score(j, i):
                score_max = aff.get_raw_score(j, i)
        numerator += score_max
    return numerator/denominator

def authors_similarity(ltuple, rtuple):
    j = str(ltuple["authors_first_last"])
    c = str(rtuple["authors_first_last"])
    return author_sim_affine(j, c)

#### 2.A.2. Similarity of first authors' names

In [ ]:
def first_author_similarity(ltuple, rtuple):
    c_first_author_first_last = str(rtuple['first_author_first']) + "_" +\
                                str(rtuple['first_author_last'])
    jauthors = str(ltuple["authors"])
    return author_sim_affine(c_first_author_first_last, jauthors)

#### 2.A.3. Similarity of paper abstracts

In [ ]:
def bow_tfidf(ltuple, rtuple):
    df = pd.read_csv(f'{path_to_csv_dir}/corpus.csv')
    tfidf = TfIdf(corpus_list=list(df.corpus))
    tfidf.set_dampen(True)
    bag1 = str(ltuple["bow"]).split(",")
    bag2 = str(rtuple["bow"]).split(",")
    return tfidf.get_sim_score(bag1, bag2)

#### 2.A.4. Difference between conference and publication years

In [ ]:
def year_difference(ltuple, rtuple):
    return ltuple["year"] - rtuple["year"]

### 2.B. Golden Data

The golden dataset was created following 3 steps:

<u><b>STEP 1 - Identify positive cases</u></b>
1. From the journal dataset, I first created a set of all journal papers (SET A) that were published between 2000 and 2014
2. For each journal paper in SET A, I identified a set of all conference papers that potentially matches with the focal journal paper (SET B). Specifically, I selected conference papers that meet both conditions: 1) share at least 1 author (with high similarity score) with the journal paper, 2) conference year is in the same year or earlier than the journal-paper year.
3. I evaluated each pair of journal papers and potential conference papers (coming from SET A and SET B), and identified all matching pairs (SET C).

<u><b>STEP 2 - Identify negative cases</u></b>
1. Those pairs that were identified as not matching were taken as negative cases (SET D)

<u><b>STEP 3 - Create golden dataset</u></b>
1. I combined SET C and SET D to create a golden dataset that contains both negative (xxx pairs) and positive pairs (xxx). 

Then, I randomly split the golden dataset into 2 sets: 1) train set and 2) test set

The train set contains 5,759 pairs: 353 positive, 5,406 negative

In [ ]:
train_path = f"{path_to_csv_dir}/training_labeled_210607.csv"
train_set = em.read_csv_metadata(
    train_path, 
    key='_id',
    ltable=JOUR, 
    rtable=CONF,
    fk_ltable='ltable_'+JOUR_INDEX, 
    fk_rtable='rtable_'+CONF_INDEX
)

train_set.gold_label.value_counts()

Metadata file is not present in the given path; proceeding to read the csv file.

0    5406
1     353
Name: gold_label, dtype: int64

C - Create feature vectors

Initialize Magellan with the list of features meta data...

In [ ]:
# Generate a set of features
feature_meta_data = em.get_features_for_matching(JOUR, CONF)
em.add_blackbox_feature(feature_meta_data, 'authors_similarity', authors_similarity)
em.add_blackbox_feature(feature_meta_data, 'first_author_similarity', first_author_similarity)
em.add_blackbox_feature(feature_meta_data, 'year_difference', year_difference)
em.add_blackbox_feature(feature_meta_data, 'bow_tfidf', bow_tfidf)

The table shows the corresponding attributes along with their respective types.
Please confirm that the information  has been correctly inferred.
If you would like to skip this validation process in the future,
please set the flag validate_inferred_attr_types equal to false.

       Left Attribute  ...                                                                             Example Features
0                  id  ...                                                           Not Applicable: Types do not match
1                year  ...                                                                   Exact Match; Absolute Norm
2                 bow  ...                                                 Levenshtein Distance; Levenshtein Similarity
3             authors  ...  Jaccard Similarity [3-grams, 3-grams]; Cosine Similarity [Space Delimiter, Space Delimiter]
4  authors_first_last  ...  Jaccard Similarity [3-grams, 3-grams]; Cosine Similarity [Space Delimiter, Space Delimiter]

[5 rows x 5 columns]

Do you want to proceed? (y/n):y

True

In total, there are 29 features

In [ ]:
feature_meta_data.feature_name

0                                                 year_year_exm
1                                                 year_year_anm
2                                            year_year_lev_dist
3                                             year_year_lev_sim
4                                              bow_bow_lev_dist
5                                               bow_bow_lev_sim
6                                                   bow_bow_jar
7                                                   bow_bow_jwn
8                                                   bow_bow_exm
9                                       bow_bow_jac_qgm_3_qgm_3
10                              authors_authors_jac_qgm_3_qgm_3
11                          authors_authors_cos_dlm_dc0_dlm_dc0
12                          authors_authors_jac_dlm_dc0_dlm_dc0
13                                          authors_authors_mel
14                                     authors_authors_lev_dist
15                                      authors_authors_lev_sim
16                                          authors_authors_nmw
17                                           authors_authors_sw
18        authors_first_last_authors_first_last_jac_qgm_3_qgm_3
19    authors_first_last_authors_first_last_cos_dlm_dc0_dlm_dc0
20    authors_first_last_authors_first_last_jac_dlm_dc0_dlm_dc0
21                    authors_first_last_authors_first_last_mel
22               authors_first_last_authors_first_last_lev_dist
23                authors_first_last_authors_first_last_lev_sim
24                    authors_first_last_authors_first_last_nmw
25                     authors_first_last_authors_first_last_sw
26                                           authors_similarity
27                                      first_author_similarity
28                                              year_difference
29                                                    bow_tfidf
Name: feature_name, dtype: object

Extract the feature vectors... (it will takes 5-6 hours)

In [ ]:
# Convert the I into a set of feature vectors using features meta data.
feature_vectors = em.extract_feature_vecs(train_set, feature_table=F, attrs_after='gold_label')

In [ ]:
# Check if the feature vectors contain missing values
# A return value of True means that there are missing values
any(pd.notnull(feature_vectors))

True

Populate (impute) missing features

In [ ]:
# Impute feature vectors with the mean of the column values.
em.set_key(feature_vectors, '_id') # key of the metadata
em.set_fk_ltable(feature_vectors, 'ltable_id') #foreign key to left table
em.set_fk_rtable(feature_vectors, 'rtable_id') #foreign key to right table
em.set_ltable(feature_vectors, JOUR) #Sets the ltable for a DataFrame in the catalog
em.set_rtable(feature_vectors, CONF) #Sets the rtable for a DataFrame in the catalog

True

In [ ]:
redudant_attrs = ['_id', 'ltable_'+JOUR_INDEX, 'rtable_'+CONF_INDEX, 'gold_label']
feature_vectors = em.impute_table(
    feature_vectors, 
    exclude_attrs=redudant_attrs, 
    missing_val=np.nan, 
    strategy='mean'
)

/usr/local/lib/python3.7/dist-packages/py_entitymatching/matcher/matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

### 2.C. Train Matching Models

We try 6 matching algorithms for paper matching:
1. Decision Tree
2. Support Vector Machine
3. NaiveBayes
4. Random Forest
5. Logit regression
6. Linear Regression

In [ ]:
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
nb = em.SVMMatcher(name='NaiveBayes', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
algos = [dt, rf, svm, nb, ln, lg]

I select the best Machine Learning matcher based on average precision and average recall. In this study, I select the matcher that generates the highest the average recall score. This is because predicted pairs will be evaluated by an expert later to confirm that they are True Positive cases.

In [ ]:
# Select the best ML matcher using CV
result = em.select_matcher(
    algos, 
    table=feature_vectors, 
    exclude_attrs=redudant_attrs, 
    k=5, target_attr='gold_label', random_state=0)
result['cv_stats']

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.682491        0.668705    0.673889
1            RF           0.806462        0.749547    0.776919
2           SVM           0.942802        0.282329    0.433170
3    NaiveBayes           0.942802        0.282329    0.433170
4        LinReg           0.860427        0.630679    0.727728
5        LogReg           0.766283        0.577069    0.657309

I select random forest matcher because it has the highest score of average recall

In [ ]:
# Choose Random Forest to train
rf.fit(table=feature_vectors, exclude_attrs=['_id', 'gold_label'], target_attr='gold_label')

### 2.D. Evaluation

In [ ]:
test_meta_data = em.read_csv_metadata(f"{path_to_csv_dir}/testing_labeled_210607.csv", key='_id',
                                    ltable=JOUR, rtable=CONF,
                                    fk_ltable='ltable_'+JOUR_INDEX, fk_rtable='rtable_'+CONF_INDEX)

test_meta_data.dtypes

Metadata file is not present in the given path; proceeding to read the csv file.

_id                           int64
ltable_id                     int64
ltable_year                   int64
ltable_bow                   object
ltable_authors               object
ltable_authors_first_last    object
rtable_id                    object
rtable_year                   int64
rtable_bow                   object
rtable_authors               object
rtable_authors_first_last    object
rtable_first_author_first    object
rtable_first_author_last     object
gold_label                    int64
dtype: object

In [ ]:
# Convert the J into a set of feature vectors using F
test_feature_vectors = em.extract_feature_vecs(J, feature_table=F, attrs_after='gold_label')

In [ ]:
# Impute feature vectors with the mean of the column values.
em.set_key(test_feature_vectors, '_id') # key of the metadata
em.set_fk_ltable(test_feature_vectors, 'ltable_id') #foreign key to left table
em.set_fk_rtable(test_feature_vectors, 'rtable_id') #foreign key to right table
em.set_ltable(test_feature_vectors, JOUR) #Sets the ltable for a DataFrame in the catalog
em.set_rtable(test_feature_vectors, CONF) #Sets the rtable for a DataFrame in the catalog

True

In [ ]:
test_feature_vectors = em.impute_table(test_feature_vectors, exclude_attrs=['_id', 'gold_label'], missing_val=np.nan, strategy='mean')

/usr/local/lib/python3.7/dist-packages/py_entitymatching/matcher/matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

In [ ]:
predictions = rf.predict(table=test_feature_vectors, exclude_attrs=['_id',  'gold_label'], append=True, target_attr='predicted', inplace=False)
predictions.to_csv(f"{path_to_csv_dir}/predictions_210607.csv", index=False)

In [ ]:
eval_summary = em.eval_matches(predictions, 'gold_label', 'predicted')
em.print_eval_summary(eval_summary)

Precision : 82.11% (101/123)
Recall : 77.69% (101/130)
F1 : 79.84%
False positives : 22 (out of 123 positive predictions)
False negatives : 29 (out of 1816 negative predictions)

In [ ]:
test_feature_vectors.head()

   _id  ltable_id    rtable_id  ...  year_difference  bow_tfidf  gold_label
0    0    13031.0   20049113.0  ...              1.0   0.000000           0
1    1    14362.0  201218113.0  ...              1.0   0.000085           0
2    2    18612.0  201115511.0  ...              6.0   0.000000           0
3    3     9287.0  201013981.0  ...              1.0   0.785191           0
4    4     1140.0  200710301.0  ...              2.0   0.145806           1

[5 rows x 34 columns]

## 3 - ACTUAL MATCHING

In [ ]:
L = em.read_csv_metadata(f"{path_to_csv_dir}/paper_pairs_jour_conf_to_predict_210612.csv", key='_id', ltable=JOUR, rtable=CONF,
                                    fk_ltable='ltable_'+JOUR_INDEX, fk_rtable='rtable_'+CONF_INDEX)
print(L.index)
for i in range(1,63):
  idx_start = (i-1)*500
  idx_end = idx_start + 499
  # print(idx_start, idx_end)
  L.loc[idx_start:idx_end].to_csv(f"{path_to_csv_dir}/L/L{i}_210612.csv", index=0)
L.loc[31000:31285].to_csv(f"{path_to_csv_dir}/L/L63_210612.csv", index=0)

Metadata file is not present in the given path; proceeding to read the csv file.

RangeIndex(start=0, stop=31285, step=1)

In [ ]:
M = pd.DataFrame()
for i in range(1, 64):
  L = em.read_csv_metadata(f"{path_to_csv_dir}/L/L{i}_210612.csv", key='_id', ltable=JOUR, rtable=CONF, 
                           fk_ltable='ltable_'+JOUR_INDEX, fk_rtable='rtable_'+CONF_INDEX) 
  M = em.extract_feature_vecs(L, feature_table=F)
  M = M.append(data)
print(M.shape[0])
M.head()

31285

   _id  ltable_id  ... year_difference  bow_tfidf
0    0       9440  ...              14   1.000000
1    1       9285  ...               9   0.193163
2    2       5999  ...               7   1.000000
3    3        955  ...               5   0.000056
4    4       6398  ...               4   0.084176

[5 rows x 33 columns]

In [ ]:
# Impute feature vectors with the mean of the column values.
em.set_key(M, '_id') # key of the metadata
em.set_fk_ltable(M, 'ltable_id') #foreign key to left table
em.set_fk_rtable(M, 'rtable_id') #foreign key to right table
em.set_ltable(M, JOUR) #Sets the ltable for a DataFrame in the catalog
em.set_rtable(M, CONF) #Sets the rtable for a DataFrame in the catalog

True

In [ ]:
N = em.impute_table(M, exclude_attrs=['_id'], missing_val=np.nan, strategy='mean')

/usr/local/lib/python3.7/dist-packages/py_entitymatching/matcher/matcherutils.py:224: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  imp.statistics_[pd.np.isnan(imp.statistics_)] = val_all_nans

In [ ]:
predictions = rf.predict(table=N, exclude_attrs=['_id'], append=True, target_attr='predicted', inplace=False)
predictions.to_csv(f"{path_to_csv_dir}/predictions_actual_matching_210607.csv", index=False)

In [ ]:
predictions.head()

   _id  ltable_id    rtable_id  ...  year_difference  bow_tfidf  predicted
0    0     9440.0  200110015.0  ...             14.0   1.000000          0
1    1     9285.0  200110015.0  ...              9.0   0.193163          0
2    2     5999.0  200110015.0  ...              7.0   1.000000          0
3    3      955.0  200110015.0  ...              5.0   0.000056          0
4    4     6398.0  200110015.0  ...              4.0   0.084176          0

[5 rows x 34 columns]

In [ ]:
predictions.predicted.value_counts()

0    30106
1     1179
Name: predicted, dtype: int64

In [ ]:
prediction_pos = predictions[predictions.predicted==1][['_id']]
pos_id = list(prediction_pos['_id'])
# x = 332
# x in pos_id
data = M[M['_id'].isin(pos_id)]
data = data.drop_duplicates(['ltable_id', 'rtable_id'])
data.shape[0]

456

In [ ]:
data.head()

      _id  ltable_id  ... year_difference  bow_tfidf
214   332      18468  ...               0   0.215363
225   348       5441  ...               6   0.988601
378   621      19384  ...               4   1.000000
451   744       9930  ...               4   0.000000
167  1074      15987  ...               2   0.995115

[5 rows x 33 columns]

In [ ]:
POS = L[L._id.isin(data._id)]
POS.head(n=1)

     _id  ltable_id  ...  rtable_first_author_first rtable_first_author_last
214  332      18468  ...                   Patricia                  Pitcher

[1 rows x 13 columns]

In [ ]:
POS['ltable_numau'] = 0
POS['rtable_numau'] = 0

for idx, row in POS.iterrows():
  POS.at[idx, 'ltable_numau'] = len(row.ltable_authors.split("|"))
  POS.at[idx, 'rtable_numau'] = len(row.rtable_authors.split("|"))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
POS.iloc[0]

_id                                                                                                                          332
ltable_id                                                                                                                  18468
ltable_year                                                                                                                 2001
ltable_bow                   top,management,team,heterogeneity,personality,power,and,proxies,this,article,reports,partial,res...
ltable_authors                                                                                  Pitcher, Patricia|Smith, Anne D.
ltable_authors_first_last                                                                         Patricia Pitcher|Anne D. Smith
rtable_id                                                                                                            2001_1017_3
rtable_year                                                                                                                 2001
rtable_bow                   top,management,team,heterogeneity,power,and,performance,in,a,hospital,setting,top,management,tea...
rtable_authors                                        Pitcher, Patricia Cherie|Smith, Anne D|Hood, Jacqueline N.|Houghton, Susan
rtable_authors_first_last                                             Patricia Pitcher|Anne Smith|Jacqueline Hood|Susan Houghton
rtable_first_author_first                                                                                               Patricia
rtable_first_author_last                                                                                                 Pitcher
ltable_numau                                                                                                                   2
rtable_numau                                                                                                                   4
match22                                                                                                                    False
Name: 214, dtype: object

In [ ]:
POS['match22'] = (POS.ltable_numau == POS.rtable_numau) & (POS.ltable_numau == 2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
POS['year_diff'] = POS.ltable_year - POS.rtable_year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
POS.iloc[0]

_id                                                                                                                          332
ltable_id                                                                                                                  18468
ltable_year                                                                                                                 2001
ltable_bow                   top,management,team,heterogeneity,personality,power,and,proxies,this,article,reports,partial,res...
ltable_authors                                                                                  Pitcher, Patricia|Smith, Anne D.
ltable_authors_first_last                                                                         Patricia Pitcher|Anne D. Smith
rtable_id                                                                                                            2001_1017_3
rtable_year                                                                                                                 2001
rtable_bow                   top,management,team,heterogeneity,power,and,performance,in,a,hospital,setting,top,management,tea...
rtable_authors                                        Pitcher, Patricia Cherie|Smith, Anne D|Hood, Jacqueline N.|Houghton, Susan
rtable_authors_first_last                                             Patricia Pitcher|Anne Smith|Jacqueline Hood|Susan Houghton
rtable_first_author_first                                                                                               Patricia
rtable_first_author_last                                                                                                 Pitcher
ltable_numau                                                                                                                   2
rtable_numau                                                                                                                   4
match22                                                                                                                    False
year_diff                                                                                                                      0
Name: 214, dtype: object

In [ ]:
POS.to_csv(f"{path_to_csv_dir}/predictions_actual_matching_pos_210607.csv", index=False)